@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto:wght@300&display=swap');

@font-face {
  font-family: Silkscreen;
  src: url('./Fonts/slkscrb.ttf');
  font-weight: bold;
  font-style: normal;
}

:root{
  --colorBack: #2E132C;
  --colorLetter: #ffffff;
  --colorButton: #4285F4;
  --colorLetterMorado: #60265B;
  --colorContinue: #00DA76;
  --backgroundInput: #150714;
  --colorLetterInput: #914D8B;
  --colorLetterDevs: #F50D5A;
  --backgroundTextArea: #2F112D;
  --backgroundMessage: #150714;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--colorBack);
}